
<tr><td><table width="900" height="300" border="1" bordercolor="#000080" align="center" cellpadding="0" cellspacing="0">
<tr><td width="191" valign="top" bgcolor="#FFFFFF">
<table width="190" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td><%= link_to image_tag('/image/contents.gif'), {:controller => "homepage", :action => "home"} %></td></tr>
<tr><td><%= link_to image_tag('/image/mapside.png'), {:controller => "homepage", :action => "map"} %></td></tr>
<tr><td><%= link_to image_tag('/image/kougiside.png'), {:controller => "homepage", :action => "kougi"} %></td></tr>
<tr><td><%= link_to image_tag('/image/labside.png'), {:controller => "homepage", :action => "lab"} %></td></tr>
<tr><td><%= link_to image_tag('/image/undoside.png'), {:controller => "homepage", :action => "undo"} %></td></tr>
</table>
<br></td>


<td width="709" valign="top" align="center"><br><table width="709" border="0" align="center" cellpadding="0" cellspacing="0" style="border-color:#5FA9F9; border-width:1px; border-style:solid;">

<table width="700" border=1 bordercolor="CCFFCC">
<tr><td width="700" height="26" background="/image/title_green.png"><div class="main_title"><font size="4" color="#FFFFFF"> 講義棟 </font></div>
<tr><td align="center"><img src="/image/kougimap1.gif"><br>
→２階へ<br>
<table width="620" align="center">
<tr><td width="620" height="26" background="/image/titlebg1.png"><div class="main_title"><font size="3" color="#000000"> 講義室一覧 </font></div>
</td></tr>
</table>
<table width="600" border=1 cellspacing=0 bordercolor="#000000" align="center">
<tr><td width="150" align="center"><%= link_to "1101", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1102", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1103", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1104", {:controller => "homepage", :action => "kougi1101"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "1201", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1202", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1203", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1204", {:controller => "homepage", :action => "kougi1101"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "1301", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1302", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1303", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1304", {:controller => "homepage", :action => "kougi1101"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "1401", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1402", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "端末講義室", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "1404", {:controller => "homepage", :action => "kougi1101"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "2101", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "2102", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "2201", {:controller => "homepage", :action => "kougi1101"} %></td><td width="150" align="center"><%= link_to "500人講義室", {:controller => "homepage", :action => "kougi1101"} %></td></tr>
</table>
</td></tr>
</td></tr>

<tr><td width="700" height="26" background="/image/title_green.png"><div class="main_title"><font size="4" color="#FFFFFF"> イベント </font></div>
</td></tr>

<tr><td align="center">
<table>
<% @admins.each do |admin| %>

  <tr>
<% if admin.place=="1" %>
    <td width="100"><%= link_to admin.date, :controller => "homepage", :action => "event", :id => admin.id %></td>
    <td width="600"><%= link_to admin.name, :controller => "homepage", :action => "event", :id => admin.id %></td>
  </tr>
<% end %>
<% end %>
</table>
<br><br>

</td></tr></table>

</td></tr>
