
<tr><td><table width="900" height="300" border="1" bordercolor="#000080" align="center" cellpadding="0" cellspacing="0">
<tr><td width="191" valign="top" bgcolor="#FFFFFF">
<table width="190" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td><%= link_to image_tag('/image/contents.gif'), {:controller => "homepage", :action => "home"} %></td></tr>
<tr><td><%= link_to image_tag('/image/mapside.png'), {:controller => "homepage", :action => "map"} %></td></tr>
<tr><td><%= link_to image_tag('/image/kougiside.png'), {:controller => "homepage", :action => "kougi"} %></td></tr>
<tr><td><%= link_to image_tag('/image/labside.png'), {:controller => "homepage", :action => "lab"} %></td></tr>
<tr><td><%= link_to image_tag('/image/undoside.png'), {:controller => "homepage", :action => "undo"} %></td></tr>
</table>
<br></td>


<td width="709" valign="top" align="center"><br><table width="709" border="0" align="center" cellpadding="0" cellspacing="0" style="border-color:#5FA9F9; border-width:1px; border-style:solid;">

<table width="700" border=1 bordercolor="CCFFCC">
<tr><td width="700" height="26" background="/image/title_green.png"><div class="main_title"><font size="4" color="#FFFFFF"> 研究棟 </font></div>
<tr><td align="center"><img src="/image/labmap1.gif"><br>
→別棟へ<br>

<table width="620" align="center">
<tr><td width="620" height="26" background="/image/titlebg1.png"><div class="main_title"><font size="3" color="#000000"> 知能情報工学研究系 </font></div>
</td></tr>
<table width="600" border=1 bordercolor="CCFFCC" align="center" bgcolor="#F5F5F5">
<tr><td width="150" align="center"><%= link_to "江島 俊朗 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "坂本 比呂志 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "篠原 武 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "瀬部 昇 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "竹内 章 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "乃万 司 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "平田 耕一 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "八杉 昌宏 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "石坂 裕毅 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "榎田 修一 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "岡部 孝弘 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "小出 洋 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "ザニケエフ マラット 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "嶋田 和孝 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "下薗 真一 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "中村 貞吾 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
</table>

<table width="620" align="center">
<tr><td width="620" height="26" background="/image/titlebg1.png"><div class="main_title"><font size="
3" color="#000000"> 電子情報工学研究系 </font></div>
</td></tr>
<table width="600" border=1 bordercolor="CCFFCC" align="center" bgcolor="#F5F5F5">
<tr><td width="150" align="center"><%= link_to "尾家　祐二 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "小田部 荘司 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "尾知 博 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "鶴 正人 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "藤原 暁宏 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "古川 昌司 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "前田 佳均 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "大西 圭 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "甲木 昭彦 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "川原 憲治 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "木内 勝 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "黒崎 正行 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "小西 直樹 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "塚本 和也 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "安田 敬 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
</table>

<table width="620" align="center">
<tr><td width="620" height="26" background="/image/titlebg1.png"><div class="main_title"><font size="
3" color="#000000"> システム創成情報工学研究系 </font></div>
</td></tr>
<table width="600" border=1 bordercolor="CCFFCC" align="center" bgcolor="#F5F5F5">
<tr><td width="150" align="center"><%= link_to "井上 勝裕 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "岡本 卓 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "古賀 雅伸 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "佐藤 好久 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "野田 秀樹 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "延山 英沢 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "廣瀬 英雄 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "宮野 英次 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "伊藤 博 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "尾下 真樹 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "小林 啓吾 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "小林 順 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "齊藤 剛史 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "田上 真 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "中茎 隆 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "新見 道治 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr></table>

<table width="620" align="center">
<tr><td width="620" height="26" background="/image/titlebg1.png"><div class="main_title"><font size="
3" color="#000000"> 機械情報工学研究系 </font></div>
</td></tr>
<table width="600" border=1 bordercolor="CCFFCC" align="center" bgcolor="#F5F5F5">
<tr><td width="150" align="center"><%= link_to "伊藤 高廣 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "鈴木 裕 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "高橋 公也 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "田中 和博 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "楢原 弘之 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "堀江 知義 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "石原 大輔 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "大竹 博 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "河野 晴彦 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "鈴木 恵友 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "田中 和明 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "永山 勝也 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "林 朗弘 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "林 英治 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "渕脇 正樹 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "許 宗焄 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr></table>

<table width="620" align="center">
<tr><td width="620" height="26" background="/image/titlebg1.png"><div class="main_title"><font size="
3" color="#000000"> 生命情報工学研究系 </font></div>
</td></tr>
<table width="600" border=1 bordercolor="CCFFCC" align="center" bgcolor="#F5F5F5">
<tr><td width="150" align="center"><%= link_to "倉田 博之 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "坂本 順司 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "坂本 寛 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "坂本 寛 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "ションバッハ クリスチャン ディーター 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "松山 明彦 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "山﨑　敏正 教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "青木 俊介 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "入佐 正幸 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "大内 将吉 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "大橋 健 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "北田 栄 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr>
<tr><td width="150" align="center"><%= link_to "西郷 浩人 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "末田 慎二 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "中川 秀樹 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td><td width="150" align="center"><%= link_to "前田 衣織 准教授", {:controller => "homepage", :action => "tanakakazuaki"} %></td></tr></table>

</td></tr>
</td></tr>

<tr><td width="700" height="26" background="/image/title_green.png"><div class="main_title"><font size="4" color="#FFFFFF"> イベント </font></div>
</td></tr>

<tr><td align="center">

<table>
<% @admins.each do |admin| %>

  <tr>
<% if admin.place=="2" %>
    <td width="100"><%= link_to admin.date, :controller => "homepage", :action => "event", :id => admin.id %></td>
    <td width="600"><%= link_to admin.name, :controller => "homepage", :action => "event", :id => admin.id %></td>
  </tr>
<% end %>
<% end %>
</table>
<br><br>

</td></tr></table>

</td></tr>
