
<tr><td><table width="900" height="300" border="1" bordercolor="#000080" align="center" cellpadding="0" cellspacing="0">
<tr><td width="191" valign="top" bgcolor="#FFFFFF">
<table width="190" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td><%= link_to image_tag('/image/contents.gif'), {:controller => "homepage", :action => "home"} %></td></tr>
<tr><td><%= link_to image_tag('/image/mapside.png'), {:controller => "homepage", :action => "map"} %></td></tr>
<tr><td><%= link_to image_tag('/image/kougiside.png'), {:controller => "homepage", :action => "kougi"} %></td></tr>
<tr><td><%= link_to image_tag('/image/labside.png'), {:controller => "homepage", :action => "lab"} %></td></tr>
<tr><td><%= link_to image_tag('/image/undoside.png'), {:controller => "homepage", :action => "undo"} %></td></tr>
</table>
<br></td>

<td width="709" valign="top" align="center"><br><table width="709" border="0" align="center" cellpadding="0" cellspacing="0" style="border-color:#5FA9F9; border-width:1px; border-style:solid;">

<table width="700" border=1 bordercolor="CCFFCC">
<tr>
<td width="700" height="26" background="/image/title_green.png"><div class="main_title"> キャンパスマップ </div>
</td></tr>

<tr><td>
<table align="center">
<tr><td align="center">
<img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2010/07/logo2010.jpg" class="title_img" /> 
<td><tr>
</table>

<table align="center">
<tr><td align="center">
<table width="535" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td valign=top >
<a href="#1">1．正門</a><br />
<a href="#2">2．研究管理棟</a><br />
<a href="#3">3．キャリアセンター</a><br />
<a href="#4">4．共通教育研究棟</a><br />
<a href="#5">5．附属図書館分館</a><br />
<a href="#6">6．大講義棟</a><br />
<a href="#7">7．講義棟</a><br />
<a href="#8">8．インタラクティブ学習棟</a><br />
<a href="#9"> 9．学生談話室「オアシス」</a><br />
<a href="#10">10．情報科学センター</a><br />
<a href="#11">11．インキューベーション施設</a><br />
<a href="#12">12．総合研究棟</a><br />
<a href="#13">13．研究棟</a><br />
<a href="#14">14．福利施設</a><br />
<a href="#15">15．マイクロ化総合技術センター</a>
</td>
<td valign=top width="10%"></td>
<td valign=top>
<a href="#16">16．実習棟</a><br />
<a href="#17">17．先端金型センター</a><br />
<a href="#18">18．研究棟サテライト１</a><br />
<a href="#19">19．課外活動施設</a><br />
<a href="#20">20．飯塚サイエンスギャラリー</a><br />
<a href="#21">21．プール</a><br />
<a href="#22">22．体育館</a><br />
<a href="#23">23．野球場</a><br />
<a href="#24">24．多目的グランド</a><br />
<a href="#22">25．体育器具庫</a><br />
<a href="#26">26．テニスコート</a><br />
<a href="#26">27．テニス器具庫</a><br />
<a href="#28">28．国際交流館A棟</a><br />
<a href="#28">29．国際交流館B棟</a><br />
<a href="#30">30．職員宿舎</a><br />
<a href="#31">31．スチューデント・レジデンス</a>
</td>
</tr>
</table>
</td></tr>
</table>

<table align="center">
<tr><td>
<p><img usemap="#Map" src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2012/02/ee1dc5f0d907bb1df6c0f2e8589f0fd0.jpg" border="0" alt="" width="550" /></p>
<map id="Map" name="Map">
<area shape="circle" coords="415,405,11" href="#1" alt="正門" />
<area shape="circle" coords="273,308,11" href="#2" alt="研究管理棟" />
<area shape="circle" coords="241,294,11" href="#3" alt="キャリアセンター" />
<area shape="circle" coords="302,277,11" href="#4" alt="共通教育研究棟" />
<area shape="circle" coords="388,277,11" href="#5" alt="附属図書館分館" />
<area shape="circle" coords="401,242,11" href="#6" alt="大講義棟" />
<area shape="circle" coords="353,210,11" href="#7" alt="講義棟" />
<area shape="circle" coords="407,198,11" href="#8" alt="インタラクティブ学習棟「MILAiS」" />
<area shape="circle" coords="257,258,11" href="#9" alt="オアシス" />
<area shape="circle" coords="231,272,11" href="#10" alt="情報科学センター" />
<area shape="circle" coords="191,291,11" href="#11" alt="インキュベーション施設" />
<area shape="circle" coords="109,255,11" href="#12" alt="総合研究棟" />
<area shape="circle" coords="213,217,11" href="#13" alt="研究棟" />
<area shape="circle" coords="287,165,11" href="#14" alt="福利施設" />
<area shape="circle" coords="172,169,11" href="#15" alt="マイクロ化総合技術センター" />
<area shape="circle" coords="122,183,11" href="#16" alt="実習棟" />
<area shape="circle" coords="97,190,11" href="#17" alt="先端金型センター" />
<area shape="circle" coords="59,199,11" href="#18" alt="" />
<area shape="circle" coords="290,115,11" href="#19" alt="課外活動施設" />
<area shape="circle" coords="370,265,11" href="#20" alt="飯塚サイエンスギャラリー（ISG）" />
<area shape="circle" coords="178,119,11" href="#21" alt="プール" />
<area shape="circle" coords="218,70,11" href="#22" alt="体育館" />
<area shape="circle" coords="499,199,11" href="#23" alt="野球場" />
<area shape="circle" coords="406,123,11" href="#24" alt="多目的グラウンド" />
<area shape="circle" coords="336,74,11" href="#22" alt="体育器具庫" />
<area shape="circle" coords="315,57,11" href="#26" alt="テニスコート" />
<area shape="circle" coords="287,35,11" href="#27" alt="テニス器具庫" />
<area shape="circle" coords="175,26,11" href="#28" alt="国際交流館A棟" />
<area shape="circle" coords="157,48,11" href="#28" alt="国際交流館B棟" />
<area shape="circle" coords="26,93,11" href="#30" alt="職員宿舎" />
<area shape="circle" coords="33,40,11" href="#31" alt="学生寮「ステューデント・レジデンス」" />
</map>
</td></tr></table>

<p>　</p>
<p>飯塚市は、北九州市と福岡市という2つの100万都市からそれぞれ、約40kmと30kmの位置にあります。2000年以上の古い歴史を持つ筑豊の、緑に囲まれたゆるやかな丘陵地に建つ近代的キャンパス。 30.5haもの広さを誇るこの敷地には、春は桜、秋はコスモスが咲き、周辺を散歩する方に出会います。筑豊の盆地と英彦山を始めとする山々を見渡せる、街のシンボルとなっています。</p>
<h3><a name="1" id="1"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">1．正門　　　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/map01.jpg" alt="正門" height="96" /></center></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="2" id="2"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">2．研究管理棟　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus2-1.gif" alt="研究管理棟" width="151" height="109" border="0" class="right" /><br /></div>
<div><span class="bold">事務</span>  　<br />
　学生の事務手続きを行うための<a onclick="javascript:pageTracker._trackPageview('/outgoing/edocweb.iizuka.kyutech.ac.jp/www/jho-gakumuhp.nsf');"  href="http://edocweb.iizuka.kyutech.ac.jp/www/jho-gakumuhp.nsf" target="_blank">教務係・大学院係・学生係</a>、総務係、会計係などがあります。
</div>
<div><span class="bold">保健センター</span><br />
　本学の学生および教職員を対象に、心身のケアのサポートをしています。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/jimu-www.jimu.kyutech.ac.jp/seikatsu/hoken/hoken.htm');"  href="http://jimu-www.jimu.kyutech.ac.jp/seikatsu/hoken/hoken.htm" target="_blank">>> 保健センターへ</a>
</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="3" id="3"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">3．キャリアセンター　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus27.gif" alt="キャリアセンター" width="264" height="152" class="left" />
<br /></div><div>
平成18年8月にオープンしたキャリアセンター。学生の就職の支援を目的としています。学生・既卒者のキャリア形成をバックアップします。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/edocweb.iizuka.kyutech.ac.jp/www/career.nsf');" class="clear"  href="http://edocweb.iizuka.kyutech.ac.jp/www/career.nsf" target="_blank">>> キャリアセンターへ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="4" id="4"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">4．共通教育研究棟　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/map04.jpg" alt="共通教育研究棟" width="150" height="105" class="left" />
</div><div>人間科学系の教員が研究・教育を行います。さらに、地域における生涯学習の機会の一つとして、教育と研究の成果を社会に開放し、生活上、職業上の知識、技術及び一般的教養を身につけるための学習の機会を提供するため、一般向けの公開講座も開催します。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="5" id="5"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">5．附属図書館分館　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2010/07/ribrary.jpg" alt="附属図書館分館" class="left" /><br />
</div><div>和洋合わせて約10万冊の蔵書で、学生の勉強をサポートします。試験期間中は、夜遅くまで開館しており、学生たちの学びの場所となっています。<br />
    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.lib.kyutech.ac.jp/library/');"  href="http://www.lib.kyutech.ac.jp/library/" target="_blank">>> 九州工業大学附属図書館　情報工学部分館</a>へ
</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="6" id="6"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">6．大講義棟(500人講義室)　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2010/07/500kougi.gif" alt="講義棟" class="left" /><br /></div><div>
  500人以上を収容できる大講義室で、230インチスクリーンに3D映像も投影できるプロジェクタを備えており、講義以外にもさまざまなイベントに利用されます。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="7" id="7"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">7．講義棟　　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/b4659ea79f53c4415d00387b7728c7bb.jpg" alt="講義棟" class="left" /></div><div>情報工学部の学生は、この講義棟でほとんどの講義を受けています。放課後は、サークル活動や学生主体の会議に使用される場合もあります。すべての部屋に個別の冷暖房を備え、液晶プロジェクタ・スクリーン、マイク設備が準備されています。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="8" id="8"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">8．インタラクティブ学習棟　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/MILAiS.jpg" alt="講義棟" class="left" /></div><div>2011年4月に竣工。最大90名の学生を収容し、グループワークを中心とした、新しい授業スタイルを目指します。また、夜間や週末等を含む授業を行っていない時間には、ラーニング・コモンズとして学生、教職員に開放されています。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/www.milais.kyutech.ac.jp/');"  href="http://www.milais.kyutech.ac.jp/" target="_blank">>> インタラクティブ学習棟「MILAiS」</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="9" id="9"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">9．学生談話室「オアシス」　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2010/07/oasis.jpg" alt="オアシス" class="left" /></div><div>学生が自由に使える「アメニティスペース」です。休息・談話のための共有スペースとして、学生のみなさんの憩いの場として利用されています。</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="10" id="10"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">10．情報科学センター　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/2f51d7778f3f3e47ea7cd654b711e6ea.jpg" alt="情報科学センター" width="149" height="106" border="0" class="left" /><br /></div><div>
主に、プログラミングなどの情報基礎科目の演習を行うために使います。数百台の端末や各種情報機器を備え、ユーザーに情報通信技術（ICT）を学ぶ場を提供しています。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/www.isc.kyutech.ac.jp/');"  href="http://www.isc.kyutech.ac.jp/" target="_blank">>> 情報科学センターへ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="11" id="11"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">11．インキュベーションセンター　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus26.gif" alt="インキュベーションセンター" width="149" height="111" class="left" /> </div><div>インキュベーションセンターは、産学連携の推進及び本学のシーズを生かしたベンチャー企業育成を目的とした施設です。</p>
<p>※インキュベーションとは、元々孵卵の意味で、親鳥が卵を抱えていることを示します。転じて、ベンチャー企業等が起業する際の支援を指します。</p></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="12" id="12"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">12．総合研究棟　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus9.gif" alt="総合研究棟" width="150" height="126" class="left" /></div><div>教員、大学院生が日々研究を進めています。それ以外に、大学院セミナー室、研究プロジェクトを推進するためのレンタルスペースなどが用意されています。<br />
機器分析センター・飯塚分室もあり、測定機器が準備されています。</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="13" id="13"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">13．研究棟　　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/30c25a36554a8bccb7b41837adc52b03.jpg" alt="研究棟" width="148" height="110" class="left" /> </div><div>教員が、日々、研究を進めています。研究室には、４年生の卒業研究から配属されます。４年生、大学院生になると、基本的に研究棟で過ごすことになります。<br />３年生までも、実験や演習などで、研究棟の中の施設を使うことができます。特に、各学科ごとに、対象分野に必要な演習用の計算機施設、ソフトウェア環境を備えています。</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="14" id="14"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">14．福利施設　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus7.gif" alt="福利施設" class="left" /><img src="/img/campus7-1.gif" class="left" /></div><div>一つの建物内に、学生食堂（２店舗）、書店、購買部、喫茶店、ATMなどが入っていますので、とても便利です。食堂では、学生が安心して規則正しい食生活を送れるようサポートする「<a onclick="javascript:pageTracker._trackPageview('/outgoing/www.iizuka.kyutech.ac.jp/public/mealcard/');"  href="http://www.iizuka.kyutech.ac.jp/public/mealcard/">ミールカード</a>」を利用する事ができます。 </p>
<p>    <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.coopt.kyutech.ac.jp/iizuka.html');"  href="http://www.coopt.kyutech.ac.jp/iizuka.html" target="_blank">>> 九州l工業大学生活協同組合飯塚店へ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="15" id="15"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">15．マイクロ化総合技術センター　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/71e8844d8bfda0d9659cc89253a38c14.jpg" alt="マイクロ化総合技術センター" width="149" height="105" class="left" /></div><div> 国立大では数少ない、設計から試作まで一貫したLSI試作設備を備えています。<br />
   <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.cms.kyutech.ac.jp/index.html');"  href="http://www.cms.kyutech.ac.jp/index.html" target="_blank">>> マイクロ化総合技術センターへ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="16" id="16"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">16．実習棟　　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus11.gif" alt="機械別棟" width="149" height="110" class="left" /></div><div>機械情報工学科などの演習や研究を行うスペースです。NC機器（コンピュータ制御の工作機械）などがあります。</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="17" id="17"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">17．先端金型センター　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/9268261dc1a13751cb68a77dfb1aaa13.jpg" alt="先端金型センター" class="left"/></div><div>世界最高レベルの技術教育・研究開発を通して、金型産業での「人づくり、ものづくり」拠点をめざします。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/cim.mse.kyutech.ac.jp/kanagata/index.html');"  href="http://cim.mse.kyutech.ac.jp/kanagata/index.html" target="_blank">>> 先端金型センターへ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="18" id="18"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">18．研究棟サテライト　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus10.gif" alt="研究棟サテライト１" width="149" height="113" class="left" /> </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="19" id="19"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">19．課外活動施設　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus14.gif" alt="課外活動施設" width="149" height="113" class="left" /> </div><div>学生による様々な課外活動を行うためのスペースを提供しています。サークル棟とも呼ばれます。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/www.club.kyutech.ac.jp/link/circle.html');"  href="http://www.club.kyutech.ac.jp/link/circle.html">>> サークル紹介へ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="20" id="20"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">20．飯塚サイエンスギャラリー「ISG」　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2010/07/ISG.jpg" alt="飯塚サイエンスギャラリー"  class="left" /></div><div>情報工学のこれまでの歩みや、最先端の研究を、見て・知って・触れていただける場です。昔懐かしいものから最新のものまで、私たちの生活に影響を与えてきた物品を紹介しています。情報工学のタイムトラベルをお楽しみください。<br />
<a onclick="javascript:pageTracker._trackPageview('/outgoing/www.iizuka.kyutech.ac.jp/science-gallery/');"  href="http://www.iizuka.kyutech.ac.jp/science-gallery/">>> 飯塚サイエンスギャラリーへ</a></div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="21" id="21"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">21．プール　　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus15.gif" alt="プール" width="149" height="112" class="left" /></div><div> 夏期には、体育講義のなかで水泳を行います。体育実技以外にも公開されており、学生・教職員が泳ぐことができます。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="22" id="22"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">22．体育館　・　25.　体育器具庫　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus16.gif" alt="体育館・体育器具庫" class="left" /></div><div> 体育実技の講義だけでなく、課外のサークル活動などにも多くの学生が利用しています。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="23" id="23"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">23．野球場　　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div> <center><img src="/image/campus25.gif" alt="野球場" width="149" height="112" class="left" /></div><div>体育実技の講義だけでなく、課外のサークル活動などにも多くの学生が利用しています。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="24" id="24"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">24．多目的グランド　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="/image/campus18.gif" alt="多目的グラウンド" width="149" height="111" class="left" /></div><div> 体育実技の講義で用いられるのはもちろんのこと、課外のサークル活動などにも多くの学生が利用しています。学生主催のサッカー大会やソフトボール大会なども開催されています。研究室のレクリエーションとしても用いられています。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="26""27" id="27"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">26．テニスコート　・　27．テニス器具庫　　　　　　　　</font></h3>
<div><center><img src="/image/campus19.gif" alt="テニスコート" width="149" height="112" class="left" /></div><div>体育実技でのテニスだけでなく、学生、教職員がレクリエーションとして使用することができます。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="28" id="28"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">28,29　国際交流会館Ａ棟,Ｂ棟　　　　　　　　　　　　　</font></h3>
<div><center> <img src="/image/campus23.gif" alt="国際交流会館Ａ棟" width="149" height="105" class="left" /><img src="/img/campus24.gif" class="left" /></div><div> 国際交流会館は、外国人留学生及び外国人研究者等に居住の場を提供し、併せて留学生及び研究者との国際交流の促進を図ることを目的として設置されました。 </div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="30" id="30"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">30．職員宿舎　　　　　　　　　　　　　　　　　　　　　</font></h3>
<div><center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2010/07/kannsha.jpg" alt="職員官舎" width="149" height="112" class="left" /></div><div>4棟連なる教職員用の住宅です。</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>
<h3><a name="31" id="31"></a><font color="#FFFFFF" style="font-size:16px; background-color:#000080">31.  ステューデント・レジデンス　　　　　　　　　　　　</font></h3>
<div> <center><img src="http://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2011/04/studentresidens.jpg" alt="ステューデント・レジデンス" width="149" height="105" class="left" /></div><div>平成23年4月より開設。留学生と日本人学生の混在型住宅です。</div>
<div class="foot_top2"><a href="#top">>> キャンパスマップトップへ</a></div>

</td></tr></table>

</td></tr>
