<p id="notice"><%= notice %></p>

<p>
  <b>イベント名：</b>
  <%= @admin.name %>
</p>
<p>
  <b>日付：</b>
  <%= @admin.date %>
</p>
<p>
  <b>内容：</b>
  <%= @admin.text %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
